
// Fonts
@import url('https://fonts.googleapis.com/css?family=Karla');

// Variables
@import 'variables';

// Bootstrap import (selective)
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/utilities";
// Index styling
@import "index";

// Event card styling
@import "events";

// smooth scrolling on supported browsers
html {
  scroll-behavior: smooth;
}

// remove padding on container sides on mobile
@include media-breakpoint-down(xs) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

// utility width classes
.w-15 {
  width: 15%;
}
.w-85 {
  width: 85%;
}